name: Bake

on:
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      version:
        required: false
        type: string
      dry-run:
        required: false
        type: boolean
        default: false

jobs:
  build-and-push:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Determine git revision
        id: git-rev
        run: |
          echo "git-sha=$(git rev-parse --short HEAD)" >>"$GITHUB_OUTPUT"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: flecspublic.azurecr.io
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_AUTH }}

      - name: Build and push Docker image
        uses: docker/bake-action@v6
        env:
          CHANNEL: ${{ inputs.channel }}
          GIT_SHA: ${{ steps.git-rev.outputs.git-sha }}
          VERSION: ${{ inputs.version }}
        with:
          files: docker-bake.hcl
          pull: true
          push: ${{ inputs.dry-run == false }}
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
