name: Develop

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  build-and-push:
    name: Build and push dev
    uses: ./.github/workflows/build-and-push.yml
    with:
      channel: dev
      dry-run: ${{ github.event_name == 'pull_request' }}
    secrets: inherit
