name: Develop

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  build-and-push:
    name: Build and push dev
    uses: ./.github/workflows/build-and-push.yml
    with:
      channel: dev
    secrets: inherit
