name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-and-push:
    name: Build and push latest ${{ github.event.release.prerelease && '(dry-run)' || '' }}
    uses: ./.github/workflows/build-and-push.yml
    with:
      dry-run: ${{ github.event.release.prerelease }}
      channel: latest
      version: ${{ github.event.release.tag_name }}
    secrets: inherit

  bump-version:
    name: Bump version
    runs-on: ubuntu-24.04
    needs: build-and-push
    if: success()
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.repository.default_branch }}

      - name: Install cargo-edit
        run: |
          cd ./entrypoint
          cargo install --locked cargo-edit

      - name: Bump minor version
        run: |
          cd ./entrypoint
          cargo set-version --bump minor

      - name: Commit version bump ${{ github.event.release.prerelease && '(dry-run)' || '' }})
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -- ./entrypoint/Cargo.{lock,toml}
          git commit -m "Auto-bump version after release"

      - name: Push version bump
        if: ${{ github.event.release.prerelease == false }}
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
        run: |
          git push origin "${DEFAULT_BRANCH}"
